# The address of the interface to bind to:
interface: {{ salt_master.interface }}

# Whether the master should listen for IPv6 connections. If this is set to True,
# the interface option must be adjusted, too. (For example: "interface: '::'")
ipv6: {{ salt_master.ipv6 }}

# The tcp port used by the publisher:
publish_port: {{ salt_master.publish_port }} 

# The port used by the communication interface. The ret (return) port is the
# interface used for the file server, authentication, job returns, etc.
ret_port: {{ salt_master.ret_port }}

# The hash_type is the hash to use when discovering the hash of a file on
# the master server. The default is md5 but sha1, sha224, sha256, sha384
# and sha512 are also supported.
#
# WARNING: While md5 is supported, do not use it due to the high chance
# of possible collisions and thus security breach.
#
# Prior to changing this value, the master should be stopped and all Salt
# caches should be cleared.
hash_type: {{ salt_master.hash_type }}

